<link rel="stylesheet" href="vendor/topcoat/css/topcoat-mobile-light.css" />
<link rel="stylesheet" href="stylesheets/application.css" />

<script>
  DrinkWithFriendsController.index();	
</script>

<div class="topcoat-list__container">
<div id="header" class="header">
	<a href="friendList.html" class="nav">Back</a>
	<h1>Drink With Friends</h1>
</div>
<div id="header2">
	<h2>Add Friends</h2>
</div>
<br>
<br>
  <ul class="topcoat-list">
    <li class="topcoat-list__item opensLayer" data-location="/views/DrinkWithFriends/addFromList.html?id=1">
      Find on Facebook
    </li>
	<li class="topcoat-list__item opensLayer" data-location="/views/DrinkWithFriends/addFromList.html?id=2">
      People you may know
    </li>
  </ul>
</div>