<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width">
    <title>Add Friend</title>

	<script src="components/jquery/jquery.min.js"></script>
    <script src="vendor/hammerjs/jquery.hammer.min.js"></script>
	<script src="http://localhost/cordova.js"></script>
	<script src="components/steroids-js/steroids.js"></script>
    <script src="javascripts/onerror.js"></script>
    <script src="javascripts/console.log.js"></script>
    <link rel="stylesheet" href="vendor/topcoat/css/topcoat-mobile-light.css" />
    <link rel="stylesheet" href="stylesheets/application.css" />
	
	<script>
	  DrinkWithFriendsController.index(); 	
	    
  var db;
  var selectedId = 0;
  document.addEventListener("deviceready", onDeviceReady, false);
  document.addEventListener('DOMContentLoaded', function() {
	  $('#add').hammer().on('tap', function() {
		var checkboxes = document.getElementsByName('addFriend');
		for (var i=0, n=checkboxes.length;i<n;i++) {
		  if (checkboxes[i].checked) 
		  {
			selectedId = checkboxes[i].value;
			db.transaction(addToFriends, transaction_error);
		  }
		}
		var friendsListView = new steroids.views.WebView({
		location: 'views/DrinkWithFriends/friendList.html'
		});
		steroids.layers.push({
			view: friendsListView
		});
	  });
	  
	   $('#cancel').hammer().on('tap', function() {
		var friendsListView = new steroids.views.WebView({
			location: 'views/DrinkWithFriends/friendList.html'
		});
		steroids.layers.push({
			view: friendsListView
		});
	  });
	  
	});
	
	function addToFriends(tx)
	{
		var sql = "UPDATE friends SET isFriend = 1 WHERE id=" + selectedId;
	   tx.executeSql(sql);
	}
	
	function onDeviceReady() {
		console.log("opening database");
		db = window.openDatabase(
		"FriendDatabase",       // database name
		"1.0",            // database version
		"Friend ListDB",   // database display name
		200000            // database size in bytes
		);
		console.log("database opened");
		db.transaction(queryDB, transaction_error);
	}
	
	 // Query the database
    function queryDB(tx) {
      tx.executeSql('SELECT * FROM friends', [], gotQueryResults, transaction_error);
    }
	
	function transaction_error(tx, error) {
			$('#busy').hide();
			alert("Database Error: " + error);
	}
	
    // Show the results of the database query
    function gotQueryResults(tx, results) {
	var len = results.rows.length;
      var result = "";
      result += ("friends table: " + len + " rows found. \n\n");
      for (var i=0; i<len; i++){
		var friend = results.rows.item(i);
		if (friend.isFriend == 0)
		{
			$('#newFriendList').append('<li>' +
					'<img src="http://localhost/icons/friendIcons/' + friend.icon + '" class="list-icon"/>' +
					'<p class="line1">' + friend.firstName + ' ' + friend.lastName + '</p>' +
					'<p class="line2">' + friend.email + '</p>' +
					'<input type="checkbox" name="addFriend" value="'+ friend.id + '"></a></li>');
		}
	  }
		$('#status').hide();
	}
	</script>  
	
  </head>
  <body>
	<div id="header" class="header">
		<h1>Add Friend</h1>
	</div>
	<div id="header2">
		<a class="topcoat-button" id="add">ADD SELECTED</a> <a class="topcoat-button" id="cancel">CANCEL</a>
	</div>
	<FORM name="selectFriends">
	<div id="wrapper">
		<ul id="newFriendList" class="icon-list"></ul>
	</div>
	<div id="busy"/>Loading...</div>
	</FORM>
  </body>
</html>
