<script>
  DrinkWithFriendsController.bars();

  function selectQuerySuccess(tx, results) {
    var len = results.rows.length;
    console.log("DEMO table: " + len + " rows found.");
    var $barList = $("#bar-list");
    for (var i=0; i<len; i++) {
      var sqlBarResult = results.rows.item(i);
      var barItem = document.createElement("li");
      barItem.innerHTML = "<img src=" + sqlBarResult.icon_loc + " /><div class=\"bar-info\">" +
        "<p>" + sqlBarResult.name + "  Rating: " + sqlBarResult.rating + "/5 </p><p>" +
        sqlBarResult.specials + "</p>";
//      barItem.addEventListener("click", function(e) {
//        var barPage = new steroids.views.WebView({
//          location: ("http://localhost/views/DrinkWithFriends/barPage.html?barName=" + sqlBarResult.name)
//        });
//        steroids.layers.push({
//          view: barPage
//        });
//      });
      $barList.append(barItem);
    }
  }
  
  function getBars(tx) {
    tx.executeSql('SELECT * FROM Bars ORDER BY UPPER(name)', [], selectQuerySuccess);
  }
  
  function errorCB(err) {
    alert("Error processing SQL: "+err.code);
  }

  document.addEventListener("deviceready", onDeviceReady, false);
  function onDeviceReady() {
    var db = window.openDatabase("bars", "1.0", "Bars DB", 1000000);
	db.transaction(getBars, errorCB);
  }
</script>

<style>
  input[type="text"] {
    /* css 3 */
    border-radius:3px;
    /* mozilla */
    -moz-border-radius:3px;
    /* webkit */
    -webkit-border-radius:3px;
  }
  
  ::-webkit-input-placeholder {
    color: grey;
    text-align: center;
  }
  
  #search-area {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 10px auto;
    width: 100%;
  }
  
  #bar-list li {
    height: 70px;
  }
  #bar-list li img {
    border-radius: 30px;
    display: inline-block;
    height: 60px;
    width: 60px;
  }
  #bar-list li div {
    display: inline-block;
    padding: 5px;
  }
</style>

<!--
<div id="search-area">
  <a>Filter</a>
  <input type="text" placeholder="Search">
  <a>TODO</a>  Search icon here 
</div>
-->

<ul id="bar-list">
</ul>