<script>
  DrinkWithFriendsController.index(); 

  function selectQuerySuccess(tx, results) {
    var $barInfo = $("#wrapper");
  var sqlBarResult = results.rows.item(0);
  var barItem = document.createElement("div");
  barItem.innerHTML = "<img src=" + sqlBarResult.icon_loc + " /><div class=\"bar-info\">" +
  "<p>" + sqlBarResult.name + "  Rating: " + sqlBarResult.rating + "/5 </p><p>" +
  sqlBarResult.specials + "</p>";

  $barInfo.append(barItem);
  $barInfo.append('<a href="checkIn.html" class="topcoat-button" id="checkout">Check out</a>');

  } 

  function getBar(tx) {
    tx.executeSql('SELECT * FROM Bars', [], selectQuerySuccess);
  }

  var db = window.openDatabase("bars", "1.0", "Bars DB", 1000000);
  db.transaction(getBar, errorCB);

  function errorCB(err) {
    alert("Error processing SQL: "+err.code);
  }
</script>

<style>
  #wrapper img {
      border-radius: 30px;
      display: inline-block;
      height: 60px;
      width: 60px;
    }
</style>

<body>
  <div id="header" class="header">
    <a href="checkIn.html" class="nav">Back</a>
    <h1>Checked In</h1>
  </div>
  <div id="wrapper">
    <p>Congratulations, you are checked in!</p>
  </div>

</body>
