<script>
  DrinkWithFriendsController.checkIn();  
</script>
<style>
  input[type="submit"] {
          margin: inherit auto;  
  }
</style>
  <div class="content-padded">
    <h2>Check In</h2>
        <FORM action="/views/DrinkWithFriends/checkedIn.html" method="post">
    <P>
        Where:<br>
           <input type="text" name="bar"><br>
        With Who: <br>
        <input type="text" name="withFriends"><br><br>
        Cover cost:<br>
    	Free <input type="range" name="cover">$20<br> <br>       
        Wait Time<br>
    None <input type="range" name="waitTime"> 40 min<br><br>
    <input type="submit" value="Submit">
    </P>
 </FORM>
  </div>