<script>
		DrinkWithFriendsController.index();
		var id = getUrlVars()["id"];
		var db;
		document.addEventListener("deviceready", onDeviceReady, false);

		function onDeviceReady() {
			console.log("opening database");
			db = window.openDatabase(
			"FriendDatabase",       // database name
			"1.0",            // database version
			"Friend ListDB",   // database display name
			200000            // database size in bytes
			);
			console.log("database opened");
			db.transaction(getFriend, transaction_error);
		}

		function transaction_error(tx, error) {
			$('#busy').hide();
			alert("Database Error: " + error);
		}

		function getFriend(tx) {
			$('#busy').show();
			var sql = "SELECT * FROM friends where id=" + id;
			tx.executeSql(sql, [], getFriend_success);
		}

		function getFriend_success(tx, results) {
			$('#busy').hide();			
			var friend = results.rows.item(0);
			$('#friendIcon').attr('src', 'http://localhost/icons/friendIcons/' + friend.icon);
			$('#fullName').text(friend.firstName + ' ' + friend.lastName);
			$('#friendEmail').text(friend.email);
			$('#lastSeen').text(friend.lastSeen);
			$('#findMe').text(friend.findMe);
			$('#favoriteDrink').text(friend.favoriteDrink);
		}

		function getUrlVars() {
			var vars = [], hash;
			var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
			for(var i = 0; i < hashes.length; i++)
			{
				hash = hashes[i].split('=');
				vars.push(hash[0]);
				vars[hash[0]] = hash[1];
			}
			return vars;
		}
	</script>
        
	<div id="header" class="header">
		<a href="friendList.html" class="nav">Back</a>
		<h1>Friend Info</h1>
	</div>
	<div id="header2">
		<h2>Friend Details</h2>
	</div>
	
	<div id="wrapper">
	  	<div>
	  		<div id="friendDetails">
			<ul>
				<li>
				<img id="friendIcon"/>
	       		<h3 id="fullName"></h3>
	       		<p id="friendEmail"></p>
				</li>
				<li>
				<h3>Last Seen at </h3><h3 id="lastSeen"></h3>
				</li>
				<li>
				<h2>Find Me at </h2><p id="findMe"></p>
				</li>
				<li>
				<h2>Favorite Drink </h2><p id="favoriteDrink"></p>
				</li>
				<li>
			</ul>
	  		</div> 
	  	</div>
	</div>

	<div id="busy">Loading...</div>
