<script>
  DrinkWithFriendsController.news();
  
  function checkInNews() {
    var $feed = $("#news");
    if (localStorage.getItem('checkedIn') == 'true') {
      var newNews = document.createElement("li");
      var src = "/icons/friendIcons/pamela.png";
      newNews.innerHTML = "<img src=" + src + "/><div><p>Pamela (Me)</p><p>Just Checked In!</p></div>";
      $feed.prepend(newNews);
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    $('#toolbar-header').text('News');
    checkInNews();
  });
</script>

<style>  
  #news li {
    height: 100px;
  }

  #news li img {
    border-radius: 30px;
    float:left;
    height: 60px;
    width: 60px;
    padding:5px;
  }

  #news li div {
    padding: 5px;
  }
</style>

<div id="wrapper">
  <ul id="news">
    <li>
      <img src="/icons/barIcons/canopyClub.png"/><div><p><b>Canopy Club</b> 9m ago</p><p>Snoop Lion Performing Tonight at 11pm!</p></div>
    </li>
    <li>
      <img src="/icons/friendIcons/alex.jpg"/><div><p><b>Alex</b> 15m ago</p><p>Checked Into Legends</p></div>
    </li>
    <li>
      <img src="/icons/barIcons/brothers.png"><div><p><b>Brother's</b> 45m ago</p><p>$1 Wells All Night!</p></div>
    </li>
    <li>
      <img src="/icons/friendIcons/daniel.jpg"><div><p><b>Daniel</b> 1h ago</p><p>Checked Into Brothers <br>With 2 Friends</p></div>
    </li>
    <li>
      <img src="/icons/barIcons/blindPig.png"><div><p><b>The Blind Pig</b> 2h ago</p><p>Come In And Try Our New Christmas Ale!</p></div>
    </li>
    <li>
      <img src="/icons/friendIcons/jess.jpg"><div><p><b>Jessica</b> 2h ago</p><p>Checked Into Canopy Club<br>With Helen</p>
    </li>
    <li>
      <img src="/icons/barIcons/legends.png"><div><p><b>Legends</b> 3h ago</p><p>Showing Bulls Game Tonight @8pm. Burger Special!</p></div>
    </li>
  </ul>
</div>
