<script>
    DrinkWithFriendsController.index();
      document.addEventListener('DOMContentLoaded', function() {
        $('#toolbar-header').text('News');
      });
  </script>

<style>  
  #news li {
    height: 100px;
  }
  #news li img {
    border-radius: 30px;
    float:left;
    height: 60px;
    width: 60px;
    padding:5px;
  }
  #news li div {
    padding: 5px;
  }
</style>

<div id="wrapper">
  <ul id="news">
    <li>
        <img src="/icons/barIcons/canopyClub.png"/><div><p>Canopy Club 5h ago</p><p>Snoop Lion Performing Tonight at 11pm!</p></div>
    </li>
    <li>
        <img src="/icons/friendIcons/alex.jpg"/><div><p>Alex</p><p>Checked Into Legends</p></div>
    </li>
    <li>
        <img src="/icons/barIcons/brothers.png"><div><p>Brother's</p><p>$1 Wells All Night!</p></div>
    </li>
    <li>
        <img src="/icons/friendIcons/daniel.jpg"><div><p>Daniel</p><p>Checked Into Brothers</p></div>
    </li>
    <li>
        <img src="/icons/barIcons/blindPig.png"><div><p>The Blind Pig</p><p>Come In And Try Our New Chrismas Ale!</p></div>
    </li>
  </ul>
</div>
