	<script>
		DrinkWithFriendsController.index();
	</script>
        
<!--
	<div id="header" class="header">
	<a href="settings.html" class="action">Settings</a>
		<h1>My Profile</h1>
	</div>
	<div id="header2">
		<h2>Pamela Kim</h2>
	</div>
	
-->
	<div id="wrapper">
	  	<div>
	  		<div>
			<ul>
				<li>
				<img src="http://localhost/icons/friendIcons/pamela.png"></img>
	       		<h3>Pamela Kim</h3>
	       		<p>pamela@gmail.com</p>
				</li>
				<li>
				<h3>Last Seen at </h3>Bartini</h3>
				</li>
				<li>
				<h2>Find Me at </h2>The Blind Pig</p>
				</li>
				<li>
				<h2>Favorite Drink </h2>Jungle Juice</p>
				</li>
				<li>
			</ul>
	  		</div> 
	  	</div>
	</div>

	<div id="busy">Loading...</div>
