<script>
  DrinkWithFriendsController.index();
</script>
<style>
  input[type="submit"] {
          margin: inherit auto;  
  }
</style>
	<div id="header" class="header">
		<a href="profile.html" class="nav">Back</a>
		<h1>Privacy Settings</h1>
	</div>
	<div id="header2">
		<h2>Pamela Kim</h2>
	</div>
	<div id="wrapper">
	<form action="profile.html" method="post">
	<ul>
	<li>
		<img src="http://localhost/icons/friendIcons/pamela.png"></img>
	    <h3>Pamela Kim</h3>
	     <p>pamela@gmail.com</p>
	</li>
	<li>
		<h2>Who can see my current location?</h2>
		<select id="location">
			<option value="public">Everyone</option>
			<option value="friends">Friends</option>
			<option value="close">Close Friends</option>
			<option value="private">Only Me</option>
		</select>
		<h2>Who can see my favorites?</h2>
		<select id="favorites">
			<option value="public">Everyone</option>
			<option value="friends">Friends</option>
			<option value="close">Close Friends</option>
			<option value="private">Only Me</option>
		</select>
		<h2>Who can see my tags?</h2>
		<select id="tags">
			<option value="public">Everyone</option>
			<option value="friends">Friends</option>
			<option value="close">Close Friends</option>
			<option value="private">Only Me</option>
		</select>
		</li>
	<li>
		<h2>Profile Status</h2>
		<select id="status">
			<option value="public">Public</option>
			<option value="friends">Friends Only</option>
			<option value="private">Private</option>
		</select>
		<h2>Notification Settings</h2>
		<select id="notifications">
			<option value="public">Send to everyone</option>
			<option value="friends">Send to friends</option>
			<option value="private">Turn off notifications</option>
		</select>
		<h2>Facebook Connection</h2>
		<select id="facebook">
			<option value="connect">Connect</option>
			<option value="disconnect">Disconnect</option>
		</select>
		<h2>Blocked List</h2>
		<select id="blockedList">
			<option value="avoid">Avoid Messages</option>
			<option value="noContact">No Contact</option>
		</select>
	</li>
	<li>
		<input type="submit" value="Submit">
	</li>
	</ul>
	</form>
	</div>